.input_dad {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: flex-end;
  

}


.form_dad {
 display: flex;
 gap: 1%;
 width: 60%;
}

.form_input {
 text-align: center;
  border-radius: 5px;
  height: 2rem;
  background-color: black;
  color: white;
  font-weight: 800;
  width: 90%;

}

.form_button {
  border-radius: 18px;
  background-color: rgb(63, 63, 65);
  color: aliceblue;
  height: 2rem;
}

.form_button:hover {
  background-color: rgb(10, 10, 10);
  color: white;
  transition: 200ms ease;
  cursor: pointer;
}


