

.input_dad{
    display: flex;
  justify-content: center;
  height: 30vh;
  align-items: flex-end;
 border: 10px solid black;
}


.form_dad{ 
   
   display: flex;
  
   
  justify-content: center;
 
 
}
.form_input{
  padding: 15px 20px;
  border-radius: 5px;
   height: 5vh;
  background-color: black;
  color:white;
  font-weight: 800;
  width: 50vw;
 
}
.form_button{
border-radius: 5px;
background-color: gray;
color: aliceblue;
height: 5vh;

}