.location_dad_nav {

    display: flex;
    align-items: center;
    justify-content: center;
   padding-left: 5%;
   padding-right: 5%;
}


.location_dad {
    margin-top: 5vh;
    min-width: 80vw;
    display: grid;
    place-content: center;

    color: white;



}

.location_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
    font-size: 2rem;
    width: 100%;
    font-family: sans-serif;
    
    height: 100%;
}

.location_ul {
    display: flex;
    gap: 6%;
    justify-content: center;
    margin-bottom: 5%;
    width: 80vw;
   }


.location_item {
  
    
   padding-left: 1%;
   padding-right: 1%;
}

@media screen and (min-width: 601px) {
    .location_item {
      font-size: 26px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .location_item{
      font-size: 17px;
    }
  }