.pagination_dad{
    display: grid;
    gap: 20px;
    grid-auto-rows: auto;
    justify-items: center;
    margin: 0 auto;
    max-width:90vw;
   
    border-radius: 10px;
    background-color:#062226;
    opacity: .8;
    color: aliceblue;
   margin-top: 5vh;
    overflow: hidden;
    cursor: pointer;
    opacity: .8;
}

.pagination{
   
display: flex;
gap: 2vw;  
height: 40px;
align-items: center;
justify-content: center;


}

.pagination_list{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#062226;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

.pagination_list:hover{
    background-color: white;
    transition: 300ms ease;
    color: #062226;

}
.setPage{
    background-color: aqua;
   
   
 
    
}